extends layout

block content
  #navBar
    p Sign Up
    a(href="/")
      button.leftNavButton Cancel
    form( action="/user/new", method="POST")
      fieldset
        p
            label(for="username") Email
            input( name="username", type="email", required="required", size="22", placeholder="username@domain.com")
        p#errorP(class="errorString notShown") That username is already taken
        p
          label(for="password") Password
          input( name="password", type="password", size="22", required="required", placeholder="password")
        p
          label(for="verifyPassword") Verify Password
          input( name="verifyPassword", type="password", size="22", required="required", placeholder="password")
        p
          button.rightForm Submit

  script.
    $(document).ready( function() {
        if( #{err})
            $('#errorP').removeClass('notShown');

        $('form').submit( function() {
            // validate form
            var good = true;

            var obj = $('input[name="password"]');
            var x = obj.val();
            if( !x || x == "") {
                good = false;
                obj.addClass( 'inputError');
            } else
                obj.removeClass( 'inputError');

            obj = $('input[name="verifyPassword"]');
            if( obj.val() != x ) {
                good = false;
                obj.addClass( 'inputError');
            } else
                obj. removeClass( 'inputError');

            return good;
        });
    });
