extends layout

block content
  h1= Tantravalles
  form( action="/", method="POST")
    fieldset
      p
        label(for="username") Email
        input( name="username", type="email", required="required", size="22", placeholder="username@domain.com", value="#{defaultUsername}")
      p
        label(for="password") Password
        input( name="password", type="password", size="15", required="required", value="")
      p#errorP(class="errorString notShown") Invalid username or password
      p
        button.rightForm Sign In
        a.leftForm(href="/user/new") Need an account?

  script.
    $(document).ready( function() {
        if( #{err})
            $('#errorP').removeClass('notShown');
    });