doctype 5
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    script(src="/javascripts/jquery-1.9.1.min.js")
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    block content