extends layout

block content
  #overworld
    each tile, i in game.map.tiles
      - var x = (i%game.map.width)*16;
      - var y = Math.floor(i/game.map.width)*16;
      - var s = 'left:' + x + 'px;top:' + y + 'px;background-position:' + tile.spriteIndex;
      img.mapTile(style=s)
